:root {
    /*Colors*/
    /*Background*/
    --beige: #fffbf5;

    /*Accent colors*/
    --atomictangerine: #f3985f;
    --lightcoral: #e6848e;
    --carolinablue: #7cb6e2;
    --vistablue: #869cd6;
    --emerald: #5fc678;

    --hoverorange: #edca9b;

    /*Fonts*/
    --quicksand: "Quicksand";
    --amsterdam: "AmsterdamFour";

    /*Font size*/
    font-size: 16px;

    /*scroll-behavior*/
    scroll-behavior: smooth;
}

@font-face {
    font-family: "AmsterdamFour";
    src: url('assets/fonts/AmsterdamFour.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 100vw;
    background-color: var(--beige);
    font-family: var(--quicksand), sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.white-rounded-background {
    background: #ffffff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.white-text {
    color: white;
}

.emphasize1 {
    color: var(--atomictangerine);
}

.emphasize2 {
    color: var(--lightcoral);
}

.emphasize3 {
    color: var(--carolinablue);
}

.emphasize4 {
    color: var(--vistablue);
}

.emphasize5 {
    color: var(--emerald);
}

.bold {
    font-weight: bold;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--beige);

    & .nav-bar {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .nav-left {
            height: 100%;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--amsterdam), sans-serif;
            font-weight: 200;
            font-size: 2rem;

            & a {
                text-decoration: none;
                color: black;
                display: block;
                position: relative;
                padding: 4px 0;
            }
        }

        & .nav-middle {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            position: relative;

            & ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;

                & li {
                    display: inline-block;
                    margin: 0 15px;

                    & a {
                        text-decoration: none;
                        color: black;
                        display: block;
                        position: relative;
                        padding: 4px 0;
                    }

                    & a::before {
                        content: "";
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: var(--carolinablue);
                        transition: 0.5s transform ease;
                        transform: scale3d(0, 1, 1);
                        transform-origin: 0 50%;
                    }

                    & a:hover::before {
                        transform: scale3d(1, 1, 1);
                        transform-origin: 0 50%;
                    }
                }
            }
        }

        & .nav-right {
            height: 100%;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .contact-button {
            text-decoration: none;
            color: black;
            padding: 10px;
            border: 1px solid var(--carolinablue);
            border-radius: 30px;
        }

        & .contact-button:hover {
            color: white;
            background: var(--carolinablue);
        }
    }
}

main {
    width: 100%;
    height: auto;

    & .personal-info-top {
        width: 100%;
        height: auto;
        padding: 0 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        & .personal-info-top-left {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5%;
            flex-direction: column;
            position: relative;

            & .doodle-star {
                position: absolute;
                height: 10%;
                top: 0;
                left: 86%;
            }

            & .profile-link {
                height: 70%;
                margin-top: 20px;

                & .profile-picture {
                    height: 100%;
                    border-radius: 8%;
                    object-fit: cover;
                }

                & .profile-picture:hover {
                    box-shadow: 5px 2px 10px 2px rgba(44, 44, 44, 0.67);
                }

                & .profile-picture:active {
                    box-shadow: none;
                    border: 4px solid var(--carolinablue);
                }
            }

            & .social-media {
                display: flex;
                height: 100%;
                width: 100%;
                align-items: flex-start;
                justify-content: space-evenly;

                & a {

                    & .doodle-scribble {
                        width: 75%;
                    }
                }
            }
        }

        & .personal-info-top-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5%;
            position: relative;

            & p {
                margin-bottom: 20%;
            }

            & .doodle-scribble {
                position: absolute;
                z-index: -1;
                width: 30%;
                top: 70%;
                left: 70%;
                rotate: 120deg;
            }
        }
    }

    & .personal-info-middle {
        height: auto;
        width: 100%;

        & .skills {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 25px;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;

            & .section-title {
                text-align: center;
                position: relative;

                & .doodle-loops {
                    position: absolute;
                    top: 20px;
                    left: -20px;
                    height: 50%;
                    opacity: 80%;
                    z-index: 0;
                }
            }

            & .skills-table {
                width: 40%;
                border-collapse: collapse;
                background-color: var(--beige);
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                z-index: 2;

                & thead {
                    background-color: var(--carolinablue);
                    color: #ffffff;
                    font-size: 1.2rem;
                }

                & th {
                    padding: 12px 15px;
                    text-align: center;
                }

                & tbody tr {
                    border-bottom: 1px solid #ddd;
                }

                & tbody tr:last-child {
                    border-bottom: none;
                }

                & td {
                    padding: 12px 15px;
                    font-size: 1rem;
                    color: #333333;
                }

                & td:first-child {
                    font-weight: bold;
                    width: 30%;
                    color: #000000;
                }

                & tbody tr:nth-child(even) {
                    background-color: rgba(124, 182, 226, 0.3);
                }

                & tbody tr:hover {
                    background-color: rgba(124, 182, 226, 0.58);
                }
            }

            & .mobile-skills-div {
                width: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5%;

                & .mobile-skills {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;


                    & h3 {
                        background: var(--carolinablue);
                        width: 50%;
                        text-align: center;
                        align-self: center;
                        color: white;
                        border-radius: 20px;
                        margin-bottom: 2%;
                    }

                    & .mobile-skills-title {
                        font-weight: 600;
                    }

                    & .mobile-skills-title {
                        font-weight: 600;
                    }
                }
            }
        }
    }


    & .education {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-top: 100px;
        flex-wrap: wrap;

        & .section-title {
            text-align: center;
            margin-right: 50px;
        }

        & .education-timeline {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;

            & .timeline-item {
                width: 20%;
                height: 7%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                & .white-text {
                    color: white;
                    position: absolute;
                    top: 15%;
                    left: 38%;
                    width: 100%;
                }

                & .above-timeline {
                    color: black;
                    position: relative;
                    top: -70px;
                    left: 10px;
                }

                & .below-timeline {
                    color: black;
                    position: relative;
                    top: 60px;
                    left: 10px;
                }

                & p {
                    color: black;
                    position: absolute;
                    top: 0;
                }
            }

            & .first {
                background-color: var(--lightcoral);
            }

            & .first::before {
                content: "";
                position: absolute;
                top: -80px;
                left: 0;
                height: 80px;
                border-left: 2px solid #000000;
            }

            & .second {
                background-color: var(--carolinablue);
            }

            & .second::before {
                content: "";
                position: absolute;
                top: 29px;
                left: 0;
                height: 70px;
                border-left: 2px solid black;
            }

            & .third {
                background-color: var(--vistablue);
            }

            & .third::before {
                content: "";
                position: absolute;
                top: -80px;
                left: 0;
                height: 80px;
                border-left: 2px solid black;
            }

            & .fourth {
                background-color: var(--emerald);
            }

            & .fourth::before {
                content: "";
                position: absolute;
                top: 29px;
                left: 0;
                height: 70px;
                border-left: 2px solid black;
            }
        }

        & .education-timeline-mobile {
            display: none;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;

            & .mobile-years {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                color: white;
                text-align: center;
                gap: 5%;

                & .mobile-year1 {
                    width: 50%;
                    height: 25%;
                    margin: auto;

                    background: var(--lightcoral);
                }

                & .mobile-year2 {
                    width: 50%;
                    height: 25%;
                    margin: auto;
                    background: var(--carolinablue);
                }

                & .mobile-year3 {
                    width: 50%;
                    height: 25%;
                    margin: auto;
                    background: var(--vistablue);
                }

                & .mobile-year4 {
                    width: 50%;
                    height: 25%;
                    margin: auto;
                    background: var(--emerald);
                }

                & .mobile-description {
                    color: black;
                }
            }

        }
    }

    & .experience {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25px;
        margin-top: 100px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        & .doodle-triangles {
            position: absolute;
            z-index: -1;
            height: 25%;
            bottom: 10%;
            right: 8%;
            rotate: 56deg;
        }

        & .section-title {
            text-align: center;
            margin-right: 50px;
        }

        & .experience-list {
            width: 80%;

            & ul {
                list-style-type: circle;

                & ul {
                    list-style-type: none;

                    & .job-skill {
                        display: block;
                        font-weight: bold;
                        color: #333;
                        transition: color 0.5s ease-in-out;
                        margin: 10px 0;
                    }

                    & .job-skill:hover {
                        color: var(--carolinablue);
                    }
                }
            }
        }
    }

    & .contact-form {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25px;
        flex-wrap: wrap;

        & .section-title {
            text-align: center;
        }

        & .form-div {
            width: 80%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & form {
                width: 100%;

                & .form-item {
                    margin-bottom: 15px;
                }

                & label {
                    display: block;
                    margin-bottom: 5px;
                    color: #555;
                }

                & input, textarea, button {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 16px;
                    font-family: var(--quicksand), sans-serif;
                }

                & input::placeholder, textarea::placeholder, button {
                    font-family: var(--quicksand), sans-serif;
                }

                & textarea {
                    resize: vertical;
                    height: 100px;
                }

                & button {
                    background-color: var(--carolinablue);
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 18px;
                }

                & button:hover {
                    background-color: var(--emerald);
                }

                & button:active {
                    background-color: black;
                }

                & .form-message {
                    text-align: center;
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }

}
footer {
    width: 100%;
    background-color: var(--carolinablue);
    font-family: var(--quicksand), sans-serif;

    .footer-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;

        & .footer-left {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            & .calligraphy {
                font-family: var(--amsterdam), sans-serif;
                font-size: 1rem;
                margin-right: 10px;
            }
        }

        & .footer-middle {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .footer-right {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & a {
                height: 100%;
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2%;

                & img {
                    width: 10%;
                    height: 10%;
                }

                & p {
                    display: inline;
                }
            }
        }
    }
}

@media screen and (width < 1920px) {
    header {
        height: auto;

        & .nav-bar {

            & .nav-middle {
                & ul {
                    & li {
                        display: block;
                        margin: 5px;
                    }
                }
            }
        }
    }

    main {
        & .personal-info-top {
            flex-direction: column;
            padding: 0;

            & .personal-info-top-left {
                height: 75vh;
                margin-top: 40px;
            }

            & .personal-info-top-right {
                width: 75%;

                & p {
                    width: 100%;
                }

                & .doodle-scribble {
                    display: none;
                }
            }
        }

        & .personal-info-middle {
            & .skills {
                flex-direction: column;

                & .skills-table {
                    display: none;
                }

                & .mobile-skills-div {
                    display: flex;

                    & .mobile-skills {

                        & h3 {
                            margin-bottom: 20px;
                            margin-top: 20px;
                        }

                        & .mobile-skills-title {
                            position: relative;
                            left: 15%;
                            color: var(--vistablue);
                        }

                        & .mobile-skills-description {
                            position: relative;
                            left: 15%;
                        }
                    }
                }

                & .section-title {

                    & .doodle-loops {
                        height: 10%;
                    }
                }
            }

            & .experience {

                & .section-title {
                    margin-right: 0;
                }

                & .experience-list {

                    & ul {

                        & li {

                            & h3 {

                                & .emphasize4 {
                                    display: block;
                                }

                            }
                        }
                    }
                }

                & .doodle-triangles {
                    display: none;
                }
            }

            & .education {

                & .section-title {
                    margin-right: 0;

                }

                & .education-timeline {
                    display: none;
                }

                & .education-timeline-mobile {
                    display: flex;
                }
            }
        }
    }

    footer {
        .footer-content {
            flex-direction: column;

            & .footer-left {
                width: 100%;
            }

            & .footer-middle {
                width: 100%;
            }

            & .footer-right {
                width: 100%;
            }
        }
    }
}
